<div class = "page-header row"> 

	   <div class="col-xs-6"><%= image_tag @user.gravatar_url %></div>
  <strong> <%= @user.profile_name %> </strong>
</div>

<div class="row">

		<% if @banners %>
		<% @banners.each do |banner| %>

		
  <div class="col-sm-6 col-md-4">

  	<div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="...">
        <div class="caption">

		<%= banner.name %>
		<%= banner.content%>

		

		<div><span class="label label-default"><%=link_to time_ago_in_words(banner.created_at), banner_path(banner) %> ago</span></div>

		<!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->

		 <% if user_signed_in? %>

		<%= link_to 'Edit', edit_banner_path(banner) %>
        <%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %>

        <% end %>

		 

		</div>
      </div>
  </div>

  <% end %>
  <% end %>

  </div>









