<!DOCTYPE html>
<html>
<head>
  <title>Bannerfit<%= " | #{@page_title}" if @page_title %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>

  
</head>

<body>

  <div id="page" class ="container">
      <div id="header">
        <a id="simple-menu" href="#sidr">MENU</a>
      </div>



    <div id= "sidr">

    <%= render(:partial => 'layouts/navigation', :locals => {:subjects =>@subjects }) %>

    </div>


    <% flash.each do |type, message| %>

<div class="alert <%= flash_class(type) %> container">
  <button class="close" data-dismiss="alert"> x </button>

  <%= message %> 
</div>
<% end %>




      <div id="content">
         <%= yield %>
      </div>




   

   
  </div>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <script>
$(document).ready(function() {
  $('#simple-menu').sidr();
});
</script>

 



</body>


</html>
